
.app {
    // width: 1200px;
    margin: 0 auto;
}
  
.svg {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
  
.main {
    &__section {
        position: relative;
        z-index: 1;
        padding: 6rem 2rem 0 2rem;

        &__wrapper {
            padding: 0.5rem 0;
        }
    }
}