$color-base: #1F1E1E;
$color-text: #DFDFDF;
$color-brand1: #3B4DD1;
$color-brand2: #879BC7;
$radious-project: 3px;
$gradient: linear-gradient(to bottom right,$color-base, $color-brand2);
$border-width: 3px;