@import '../shared/mixins'; 

.about-wrapper {
    position: relative;
    background-color: $color-base;
}

#about {
    height: 100vh;
    flex-flow: column wrap;
    display: flex;
    justify-content:center;

    @include mobile {
        height: auto;
    }

    .p {
        font-size: 1.3rem;
        margin: 1.5rem 0 !important;
    }
}
