@import '../shared/mixins';

.article {
    position: relative;
    padding: 1rem;
    justify-content: center;
    height: 20rem;
    color: $color-text;
    z-index: 1;
    border-radius: $radius-project;

    &:hover {
      &::after {
        transform: translate3d(0,23%,0);
        @include mobile {
            transform: translate3d(0,-30%,0);
        }
      }

      .article__wrapper--on-hover {
        opacity: 1;
        transform: translate3d(0,-20%,0);
        @include mobile {
            transform: translate3d(0,-30%,0);
        }
      }
    }
    
    &__container {
      position: relative;
      overflow: hidden;
      margin-bottom: 1rem;
      border-radius: $radius-project;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 18px;
        background-image: $gradient;
        opacity: .6; 
        border-radius: $radius-project;
      }
    }

    &__img {
      border-radius: $radius-project;
      max-width: 700px;
      margin: 0 1rem !important;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border-radius: $radius-project;
      transition: opacity 0.35s;
    }
    
    @include mobile {
      margin-bottom: 1rem;
    }
  
    &__title {
      position: relative;
      z-index: 1;
    }
  
    &__link {
      color: $color-text;

      .arrow {
        transition: all 0.1s;
        text-decoration: none !important;
      }


      &:hover {
        & .arrow {
          transform: translate3d(20%, 0, 0);
        }
      }

    }
  
    &__wrapper {
      text-align: center;
      z-index: 2;
      
      &--on-hover {
        z-index: 3;
        position: absolute;
        bottom: 0.8rem;
        opacity: 0;
        transition: all 0.35s;
        transform: translate3d(0,-30%,0);
        
        @include mobile {
            opacity: 1;
        }
      }
    }
  
    &__desc {
      color: $color-text;
      padding-bottom: 0.5rem;
    }

  }