@import '../shared/mixins'; 

.contact-container {
    background-color: $color-base;
}

#contact {
    text-align: center;
    height: 100vh;
    flex-flow: column wrap;
    display: flex;
    justify-content:center;

    @include mobile {
      height: auto;
      padding: 2rem 1rem;
    }

    .text {
      margin: 1rem auto !important;
    }

    .form {
      width: 600px;
      margin: 2rem auto;

      @include mobile {
        width: 100%;
        margin: 0;
    }

      .btn {
        background: transparent;
        border: none;
        margin-top: 2rem;
        font-size: 1.35rem;

        &:hover {
          cursor: pointer;
        }
      }
      &__input-wrapper {
        display: flex;


        @include mobile {
          flex-direction: column;
        }

        input {
          width: 50%;
          background: transparent;
          color: $color-text;
          border: none;
          border-bottom: 2px solid $color-text;

          &:first-child {
            margin-right: 0.5rem;
          }

          &:last-child {
            margin-left: 0.5rem;
          }

          @include mobile {
            width: 100%;
            margin: 1rem 0 0 0 !important;
          }
        }
      }

      textarea {
        width: 100%;
        box-sizing: border-box;
        background: transparent;
        color: $color-text;
        border: none;
        border-bottom: 2px solid $color-text;
        resize: none;
        margin-top: 1rem;
      }

    }

  }