
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 100%;
    z-index: 3;
  
    &__wrapper {
      text-align: right;
    }
  
    &__link {
      margin: 0 0.5rem;
      color: $color-text;
  
      // &:first-child {
      //   margin-left: 0;
      // }
      
      &:last-child {
        margin-right: 0;
      }
    }
  }

