@import 'mixins';

.about-wrapper {
    position: relative;
    background-color: $color-base;
}

#about {
    height: 100vh;
    flex-flow: column wrap;
    display: flex;
    justify-content:center;

    @include mobile {
        height: auto;
    }
}
