@import 'mixins';

.article {
    position: relative;
    padding: 1rem;
    justify-content: center;
    border-radius: $radious-project;
    height: 20rem;
    color: $color-text;
    background: $gradient; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 1.5rem;
    
    @include mobile {
        margin-bottom: 1rem;
    }
  
    &__title {
      position: relative;
      z-index: 1;
    }
  
    &__link {
      color: $color-text;

      .arrow {
        transition: all 0.1s;
        text-decoration: none !important;
      }


      &:hover {
        & .arrow {
          transform: translate3d(20%, 0, 0);
        }
      }

    }
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: $gradient;
      opacity: .4; 
    }
  
    &__img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: $radious-project;
      transition: opacity 0.35s;
    }
  
    &__wrapper {
      text-align: center;
      z-index: 2;
      
      &--on-hover {
        z-index: 3;
        position: absolute;
        bottom: 0.8rem;
        opacity: 0;
        transition: all 0.35s;
        transform: translate3d(0,-30%,0);
        
        @include mobile {
            opacity: 1;
        }
      }
    }
  
    &__desc {
      color: $color-text;
      padding-bottom: 0.5rem;
    }

  
    &:hover {
      &::after {
        transform: translate3d(0,23%,0);
        @include mobile {
            transform: translate3d(0,-30%,0);
        }
      }

      .article__wrapper--on-hover {
        opacity: 1;
        transform: translate3d(0,-20%,0);
        @include mobile {
            transform: translate3d(0,-30%,0);
        }
      }
  
      .article__img {
        opacity: 0.2;
      }
    }

  }