.logo-wrapper {
    text-decoration: none;

    h1 {
        font-family: 'Avenir Next','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif !important;
        margin: 0;
        border: $border-width solid;
        padding: 0 $border-width;
    }
}